/* TODO: fill the rest styles here. need to prefix with .markdown */

.markdown {
  color: #000;
}

.markdown h1 {
  font-size: 24px;
}

.markdown h2 {
  font-size: 22px;
  font-weight: bold;
}

.markdown p {
  margin-bottom: 1rem;
}

.markdown a {
  color: blue;
  text-decoration: underline;
}

.markdown ul {
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

.markdown ul > li {
  margin-bottom: 0.5rem;
  list-style: disc;
}